<div class="action-group" ng-repeat="actionGroup in actionGroups">
  <label class="action-group-label">{{actionGroup.name | translate }}</label>
  <div class="action-group-actions">
    <div ng-repeat="action in actionGroup.actions track by $index"
          ng-click="onClick(action, cls)"
          class="image-wrap glossy icon"
          ng-class="cssClassesForAction(action)"
          lvl-draggable="{{draggable}}"
          data-new-action="{{action}}">
      <img ng-src="{{getActionImagePath(action, cls)}}" alt="{{actionForName(action).name}}"/>
      <span ng-if="actionForName(action).cpCost" class="cp">{{actionForName(action).cpCost}}</span>
      <span ng-if="actionForName(action).name" class="name">{{actionForName(action).name}}</span>

      <span ng-if="iActionClassSpecific(action)" class="class-icon">
        <img ng-src="img/classes/{{actionForName(action).cls}}.png" alt="{{actionForName(action).fullName}}"/>
      </span>
    </div>
  </div>
</div>
